<h2>Create contact</h2>
<body>
<div style="float: right">
<button class="btn btn-primary" ng-click="returnPrevious()">Back</button>
</div>
<div class="page-header">
	<h3>Employees</h3>
</div>
<form>
<div class ="col-md-2">EmployeeId:<input type="text" class="form-control" placeholder="EmployeeId" ng-model = "contact.empId"></div><br><br><br>
<div class ="col-md-2">Name:<input type="text" class="form-control" placeholder="Name" ng-model="contact.name"></div><br><br><br>
<div class ="col-md-2">Location:<input style="width:400px" type="text" class="form-control" placeholder="Location" ng-model="contact.location"></div><br><br><br>
<div class ="col-md-2">Date of birth:<input type="text" class="form-control" placeholder="Date of birth" ng-model="contact.dob"></div><br><br><br>
<div class ="col-md-2">Email Id:<input type="text" class="form-control" placeholder="Email Id" ng-model="contact.email"></div><br><br><br>
<div class ="col-md-2"></div>
</form>
<div style="float: right">
<button class="btn btn-primary" ng-click="saveContact()">Save</button>
</div>

<footer footer-controller></footer>
</body>


